In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Priyanshu Gupta\Desktop\final\data.csv")

In [3]:
df.head()

,education,jobLevel,workLifeBalance,performanceRating,workingHours,numProjectsWorked,promotionProb
0,3,1,0,1,8,6,1
1,0,2,0,1,7,10,0
2,1,1,1,0,6,7,0
3,3,0,-1,1,5,3,0
4,3,0,-1,0,8,3,1

In [4]:
df['workLifeBalance'].value_counts()

 1    870
 0    848
-1    781
Name: workLifeBalance, dtype: int64

In [5]:
df.tail()

,education,jobLevel,workLifeBalance,performanceRating,workingHours,numProjectsWorked,promotionProb
2494,4,0,1,-1,6,0,0
2495,3,0,0,0,5,0,0
2496,2,2,0,0,6,3,1
2497,0,1,-1,0,7,6,1
2498,3,0,-1,-1,5,8,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 7 columns):
education            2499 non-null int64
jobLevel             2499 non-null int64
workLifeBalance      2499 non-null int64
performanceRating    2499 non-null int64
workingHours         2499 non-null int64
numProjectsWorked    2499 non-null int64
promotionProb        2499 non-null int64
dtypes: int64(7)
memory usage: 136.7 KB

In [7]:
df.describe()

,education,jobLevel,workLifeBalance,performanceRating,workingHours,numProjectsWorked,promotionProb
count,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000,2499.000000
mean,1.943577,1.008403,0.035614,0.004402,6.510204,4.955982,0.489796
std,1.420856,0.814899,0.812194,0.813948,1.115523,3.178639,0.499996
min,0.000000,0.000000,-1.000000,-1.000000,5.000000,0.000000,0.000000
25%,1.000000,0.000000,-1.000000,-1.000000,6.000000,2.000000,0.000000
50%,2.000000,1.000000,0.000000,0.000000,7.000000,5.000000,0.000000
75%,3.000000,2.000000,1.000000,1.000000,7.500000,8.000000,1.000000
max,4.000000,2.000000,1.000000,1.000000,8.000000,10.000000,1.000000

# Train Test Splitting

In [8]:
def split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [9]:
train,test=split(df,0.2)

In [10]:
train

,education,jobLevel,workLifeBalance,performanceRating,workingHours,numProjectsWorked,promotionProb
461,1,1,-1,0,7,6,1
109,3,2,-1,1,8,7,1
2296,2,2,-1,0,7,10,0
354,4,0,1,0,8,0,0
266,0,2,1,0,7,3,0
2102,3,2,0,0,7,0,1
807,0,2,-1,0,8,6,1
990,1,2,0,0,6,3,1
290,2,2,0,-1,7,6,1
1010,1,1,1,0,5,2,0
916,2,2,1,1,8,6,1
602,0,1,-1,1,5,3,1
416,3,1,1,1,6,5,0
472,4,2,0,0,7,1,1
2025,0,1,-1,1,8,9,0
2055,2,2,1,-1,5,2,1
2418,0,0,-1,-1,7,8,1
2126,2,2,-1,0,7,5,1
1194,2,2,1,-1,8,4,1
2490,1,1,0,-1,8,4,0
1309,2,2,1,1,8,7,0
278,3,1,-1,1,5,8,0
867,4,1,-1,1,6,10,1
873,2,2,-1,1,5,4,0
1403,3,1,0,1,5,9,1
18,4,0,1,-1,5,3,1
2024,1,1,0,1,6,0,0
2358,4,0,0,0,6,2,0
1672,1,0,1,0,5,9,1
1292,3,0,0,1,8,3,0
...,...,...,...,...,...,...,...
1806,2,1,-1,1,6,8,1
975,2,1,0,-1,7,3,1
2047,2,1,0,-1,6,6,1
1082,0,2,-1,0,7,7,1
474,3,0,1,1,5,1,1
747,3,0,0,1,6,8,0
2300,1,2,-1,1,6,6,1
21,3,2,-1,0,5,10,0
459,3,0,1,-1,5,6,0
1184,0,0,1,1,8,1,1
2324,4,2,-1,1,8,4,1
955,3,2,0,0,5,7,1
1215,2,1,0,0,8,0,0
2433,0,2,1,0,7,4,1
1515,2,1,1,-1,6,9,1
2391,1,2,0,0,7,2,1
769,3,1,0,0,5,0,1
1685,2,2,1,-1,8,7,0
130,3,1,0,1,5,6,0
2135,4,2,-1,0,6,2,1
1482,1,0,0,-1,6,8,0
330,4,1,0,1,8,10,0
1238,4,1,-1,1,6,10,1
466,1,0,1,-1,6,8,0
2169,1,1,0,-1,8,0,0
1638,3,0,0,-1,8,4,1
1095,0,0,0,1,6,0,0
1130,3,1,1,1,7,9,1
1294,0,1,-1,-1,8,6,0
860,3,2,0,0,7,8,0

In [11]:
test

,education,jobLevel,workLifeBalance,performanceRating,workingHours,numProjectsWorked,promotionProb
2319,0,1,0,1,5,0,0
1865,4,1,-1,-1,6,6,0
902,4,1,1,1,8,0,1
2240,2,2,-1,1,7,4,1
1285,1,0,1,0,7,6,0
56,3,1,-1,-1,7,5,0
1681,4,0,-1,1,6,2,0
802,0,2,0,1,6,8,1
812,2,0,1,-1,7,10,0
903,0,0,1,0,8,4,1
332,2,0,0,1,8,9,1
1837,3,0,0,0,7,0,1
2400,1,0,1,0,6,1,1
1444,3,0,1,1,7,0,1
2029,4,1,-1,0,6,0,0
1871,3,1,1,-1,6,4,1
786,2,1,0,1,5,3,0
1530,1,1,-1,1,6,4,1
485,2,0,-1,-1,5,9,1
2471,3,1,-1,-1,8,8,1
134,0,0,0,0,5,4,1
1538,0,1,1,0,6,2,1
1352,2,0,0,1,7,5,0
1922,1,0,0,0,6,8,0
1279,1,1,1,0,7,5,0
246,2,2,0,-1,6,9,1
1547,2,0,0,0,7,5,1
789,2,1,1,0,8,7,0
259,1,2,-1,1,5,6,1
422,2,1,1,-1,5,5,1
...,...,...,...,...,...,...,...
1820,3,0,0,1,5,9,1
1422,0,1,0,1,6,1,0
2129,3,1,1,-1,8,2,0
342,3,1,1,0,8,1,0
1070,4,0,1,0,8,4,0
1732,1,0,-1,-1,7,2,0
829,0,1,1,1,5,3,0
1450,4,0,1,0,7,3,1
299,1,1,-1,-1,7,6,0
764,2,2,1,0,8,6,1
1615,0,2,1,1,5,9,1
1911,3,1,0,1,7,6,1
1612,4,2,-1,0,5,3,1
2178,2,1,-1,1,7,6,0
2373,0,1,1,-1,7,3,0
1934,3,2,0,-1,7,2,0
220,0,0,0,1,7,1,0
2466,2,0,1,0,5,6,0
2465,2,0,0,-1,5,7,0
707,4,2,1,1,5,10,1
497,0,1,1,0,7,2,1
1486,2,2,0,-1,5,9,1
1014,3,2,0,-1,7,8,0
1000,1,1,1,1,7,3,0
84,4,2,-1,-1,7,5,1
1037,3,0,0,1,6,2,1
2054,0,1,-1,0,5,6,0
1860,2,1,0,0,8,10,1
1862,4,1,0,-1,5,10,0
1151,1,2,1,1,8,9,0

In [12]:
X_train=train.iloc[:,0:6].values
X_test=test.iloc[:,0:6].values

In [13]:
X_test

array([[ 0,  1,  0,  1,  5,  0],
       [ 4,  1, -1, -1,  6,  6],
       [ 4,  1,  1,  1,  8,  0],
       ...,
       [ 2,  1,  0,  0,  8, 10],
       [ 4,  1,  0, -1,  5, 10],
       [ 1,  2,  1,  1,  8,  9]], dtype=int64)

In [14]:
Y_train=train.iloc[:,6].values.reshape(2000,)
Y_test=test.iloc[:,6].values.reshape(499,)

In [15]:
Y_train

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
promotionProb=clf.predict_proba([[3,1,0,1,7,8]])[0][1]

In [19]:
promotionProb

0.48633487667440595